.appHeader {
    display: flex;
}

.logoContainer {
    height: 50px;
    width: 150px;
    position: static;
    justify-content: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    width: 100% !important;
    color: lightgoldenrodyellow;
}

img.logo{
    height: 80%;
    padding: 15px 0 0 16px;
}