.leftMenu {
    background-color: limegreen;
    height: 100%;
    width: 250px;
}

.leftMenu ul {
    padding: 0 0 0 20px;
}

.leftMenu ul li {
    list-style: none;
    margin-top: 12px;
    color: lightgoldenrodyellow;

}

ul li a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    font-size: 18px;
}

.active {
    color: gold;
}

.friends {
    color: lightgoldenrodyellow;
}

.titleTopFriends {
    text-align: center;
}

img.friendImg {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 2px solid gold;
}

.navbarFriendName {
    margin: 0;
}